@import '../globals.scss';

.wrapper {
  @extend .flex-center;
}

.placeholder {
  @extend .flex-center;

  height: 100%;
  font-size: 16pt;
  color: $text-secondary;
}

.tweet {
  margin: auto;
  max-width: 28rem;
  width: 100%;
  border-color: $primary;
  color: $text-primary;
  background: $primary;
}
