<main class="wrapper">
  <section class="panel small">
    <div class="header">
      <span class="text">Live Changelog</span>
      <a class="addon icon {{track ? 'live' : ''}}" (click)="track = !track">
        ◉
      </a>
    </div>
    <div class="content">
      <app-live-count class="emoji-live-count" [track]="track"></app-live-count>
    </div>
  </section>
  <section class="panel">
    <div class="header">
      <span class="text">Top N Emojis</span>
    </div>
    <div class="content">
      <app-top-n class="emoji-top-n"></app-top-n>
    </div>
  </section>
  <section class="panel" *ngIf="emojiCode">
    <div class="header">
      <span class="text">Tweet-Stream for
        <span class="emoji">{{emojiCode}}</span>
      </span>
      <a class="addon icon" routerLink="/">
        &times;
      </a>
    </div>
    <div class="content">
      <app-tweet-stream></app-tweet-stream>
    </div>
  </section>
</main>
